<!--Ajout par Margot mais fichier non-nécessaire-->

<div class="wrapper">
    <div class="letters">
      <span class="letter">S</span>
      <span class="letter">k</span>
      <span class="letter">h</span>
      <span class="letter">o</span>
      <span class="letter">l</span>
      <span class="letter">è</span>
    </div>
  </div>