<header>
	<div class="main">
		<!--Ajout par Margot pour bannière-->
		<a href="{{ .Site.BaseURL }}"><h1 class="fancy" id="name">{{ .Site.Title }}</h1> </a><h2>Théories dysfonctionnelles</h2>
		  <!--FIN Ajout par Margot pour bannière-->
	</div>
	<nav>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
        | <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a>
		<script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
		{{ end }}
	</nav>
</header>
<script>
	//Cogemos la etiqueta del nombre
let fancyHeading = document.getElementsByClassName('fancy')[0];

//console.log(obj.color1);
//Metemos en UNA VARIABLÑ las letras de mi nombre + espacios en blanco
let letters = fancyHeading.textContent.split('');

let content = letters.map((val, i) => {
//Delay de aparicion de las letras (random)
let delay = Math.floor((Math.random() * 9000) + 1);
let random_number = Math.floor(Math.random() * (4 - 0)) + 0;

let array_colors = ["rgb(241, 113, 28)", "rgb(235, 143, 90)", "black", "rgb(255, 143, 90)", "black" ];
//Devolvemos el nombre con un animation-delay
return ('<span style="animation-delay: '+ delay + 'ms; color: ' + array_colors[random_number] + ' ">'
	  + val +
	  '</span>');
});

fancyHeading.innerHTML = "";

for (var i = 0; i < content.length; i++) {
fancyHeading.innerHTML += content[i];
}

</script>
