<div class="background">
 
    <a href="{{ .Site.BaseURL }}"><p class="background" aria-label="CodePen">
      <span data-text="H">H</span>
      <span data-text="N">N</span>
      <span data-text="U">U</span>
      <span data-text="6">5</span>
      <span data-text="0">1</span> 
      </p>
    </a>
  
  
    </div>
